<p>Contact info could go here, including an email form.</p>
<form>
	<div>
		<label>Name:</label>
		<input type="text" ng-model="messageData.name">
	</div>
	<div>
		<label>Email Address:</label>
		<input type="email" ng-model="messageData.emailAddress">
	</div>
	<div>
		<label>Message:</label>
		<textarea ng-model="messageData.message"></textarea>
	</div>
</form>

<div>
	Name: {{ messageData.name }}
</div>
<div>
	Email: {{ messageData.emailAddress }}
</div>
<div>
	Message: {{ messageData.message }}
</div>

<button ng-click="saveForm()">Save</button>